html {
  scroll-behavior: smooth;
}

.a1 {
	text-decoration: none; 
	color: blue;
}

.header1 {
	color : white;
	text-align : center;
	background-color: blue;
	font-size: 40px
}

.paragraph1 {
	padding-left : 200px;
	padding-right: 200px;
	padding-top: 50px;
	padding-bottom: 50px;
	font-size: 40px;
	text-align: center;
	background-color: #3333FF;
}

.headerbuttons{
	border-radius: 6px;
	background-color: #0080FF;
	border: none;
	font-size: 40px;
	text-align: center;
	cursor: pointer;
	padding: 4px;
}

.headerbuttons:hover{
	background-color: #00AAFF;
	color: white;
	box-shadow:  0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.title{
	font-style: bold;
	font-size: 60px;
}

.myimage{
	width: 200px;
	height: 200px;
	border: none;
}

.myimage:hover{
	box-shadow:  0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}


/*to avoid over flow set marigins to zero */
h1,h2,p{ 
	margin: 0px;
}